{% extends 'base.html' %} {% block content %}
<div id="Results" class="h-screen pt-20 pb-5 place-content-start">
  <div id="results-contents" class="w-3/4 mx-auto">
    <h2 class="text-4xl my-2 py-3">Results</h2>
    <p>
      We spent a lot of time squinting at your photo at {{url_submission}} and
      have determined that it means that you are:
    </p>
    <div class="my-2">
      <ul>
        {% for i in interps %}
        <li>👎 {{ i }}</li>
        {% endfor %}
      </ul>
    </div>
<!--   
    <br />
    <p>Labels:</p>
    <ul>
      {% for label in labels %}
      <li>{{ label }}</li>
      {% endfor %}
    </ul> -->
  </div>

  
</div>
{% endblock %}
